<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b98268a861.js" crossorigin="anonymous"></script> <!--Esta linea nos permite traer iconos de la pagina fontawesome-->
    <title>Home Biblioteca</title><!--Esta linea es para modificar la palabra de la pestaña de Google-->
    <link rel="stylesheet" href="../static/estilos/estiloHome.css"> <!--Esta linea es para que nos tome los estilos de la carpeta estilos-->
</head>
<body>
    <nav class="menu">
        <ul class="lista">

            <li class="list_item">
                <div class="list_button">
                    <span class="icono"><i class="fa-solid fa-house"></i></span> <!--Icono de casa-->
                    <a href="#" class="nav_link">Inicio</a>
                </div>
            </li>

            <li class="list_item">
                <div class="list_button list_button--click">
                    <span class="icono"><i class="fa-solid fa-book"></i></span> <!--Icono de libro-->
                    <a href="#" class="nav_link">Libros</a>
                    <span class="icono_flecha"><i class="fa-solid fa-chevron-right"></i></span> <!--Icono de flecha-->
                </div>

                <ul class="list_show">
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Agregar Libro</a>
                    </li>
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Eliminar Libro</a>
                    </li>
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Modificar Libro</a>
                    </li>
                </ul>
            </li>

            <li class="list_item">
                <div class="list_button list_button--click">
                    <span class="icono"><i class="fa-solid fa-paperclip"></i></span> <!--Icono de clip-->
                    <a href="#" class="nav_link">Prestamos</a>
                    <span class="icono_flecha"><i class="fa-solid fa-chevron-right"></i></span> <!--Icono de flecha-->
                </div>

                <ul class="list_show">
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Prestamo Interno</a>
                    </li>
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Prestamo Externo</a>
                    </li>
                </ul>
            </li>

            <li class="list_item">
                <div class="list_button list_button--click">
                    <span class="icono"><i class="fa-solid fa-user"></i></span> <!--Icono de usuario-->
                    <a href="#" class="nav_link">Usuarios</a>
                    <span class="icono_flecha"><i class="fa-solid fa-chevron-right"></i></span> <!--Icono de flecha-->
                </div>

                <ul class="list_show">
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Crear Usuario</a>
                    </li>
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Eliminar Usuario</a>
                    </li>
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Modificar Usuario</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <script src="../static/js/home.js"></script>
</body>
</html>